/* Styles for Flash Notices and Alerts */

/* Flash Notice for Messages */
.notice { 
	height: 2em; 
	padding: 0.5em; 
	text-align: center; 
	background: $primaryColor; 
	color: $white; 
}
.notice_header { 
	height: 2em; 
	padding: 0.5em; 
	text-align: center; 
	background: $primaryColor; 
	color: $white; 
	margin-top: 4em;
}